<div class="blog-post">
    <h1 appTask >SPORTS BLOG</h1>
    <img src="https://wi.wallpapertip.com/wsimgs/103-1030483_benefits-of-playing-sports.jpg" alt="Image 1">
    
    <p appTask [customColor]="'green'">
      Sports are a universal language that transcends borders, cultures, and ages, uniting people with a shared passion for competition, teamwork, and physical excellence. Whether played on a professional stage or in a local park, sports have the power to inspire, uplift, and connect individuals from all walks of life. From the thrill of victory to the agony of defeat, sports teach us valuable lessons in perseverance, discipline, and sportsmanship, shaping not only our bodies but also our minds and spirits.
    </p>
    <button routerLink="/author-details" appTask>View Author Details</button>
  </div>
  